.background
{
display: flex;

height: 500px;
width: 100%;



background: #F5F3E9;
}


body
{
	margin: 0px;
}


a:visited
{
	color: #80CBDE;
}

header 
{
	z-index: 999;
	position: fixed;
	display: flex;
    justify-content:space-around ;

width: 700px;
height: 35px;
margin-top: 0px;
right: 64px;

background: #E7E2CA;
opacity: 0.95;
border-radius: 0px 0px 15px 15px;
}


.fondlien:hover 
{

text-decoration:none;
background-color:white;
height: 35px;
width: 200px;
opacity: 0.85;
text-align: center;
border-radius: 0px 0px 15px 15px;

}
.Projet
{
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 34px;
}

.Apropos
{
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 34px;

}

a[class="couleurlien"]:hover
{
	font-weight: bold;
}

.Contact
{

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 34px;

}

.logoseb
{
z-index: 999;
position: fixed;
left: -1.2%;
right: 89%;
top: 0%;
bottom: 0%;
}


h1
{
	font-family: Didot;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 51px; 

color: #80CBDE;
}

.GrandTitretopimage
{
  display: flex;
  margin: auto;
  justify-content:space-around;
  width: 1000px;
  height: 368px;
  margin-top: 226px;

}

.IllustrationLanding
{
width: 327px;
height: 294px;


filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
border-radius: 10px;
object-fit: cover;
}

body
{
	margin: 0px;
}

p
{
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 27px;

color: #011317;
}

h2
{
	font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 33px;

color: #80CBDE;
}
.Sommaire
{

display: flex;
margin: auto;
width: 217px;
height: 132px;
margin-top: 79px;
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 33px;

color: #80CBDE;
}

.illustrationTitre

{
display: flex;

width: 155px;
height: 55px;
margin-left: 80px;
margin-top: 115px;

}

.Titretournois
{
	display: flex;
	width: 485px;
	height: 30px;
	margin-left: 80px;
	margin-top: 1px;
}
.paragraphetournois
{
	display: flex;
	width: 910px;
	height: 31px;
	margin-left: 126px;
	margin-top: 28px;
}

.Titrehecate
{
	display: flex;
	width: 900px;
	height: 35px;
	margin-left: 80px;
	margin-top: 50px;
}

.ParagrapheHecate
{
	display: flex;
	width: 1000px;
	height: 54px;
	margin-left: 126px;
	margin-top: 15px;
}

.FilleOrangeIllustration
{

width: 262px;
height: 235px;

}

.VaseIllustration
{

width: 200px;
height: 202px;

}

.FilleRéalité
{

width: 317px;
height: 245px;

object-fit: contain;
}

.VaseRéalité
{
width: 317px;
height: 245px;

}

.illustrationdiv1
{
  display: flex;
  margin: auto;
  justify-content:space-around;
  width: 1000px;
  height: 368px;
  margin-top: 149px;
 
}

.illustrationdiv2
{
 display: flex;
  margin: auto;
  justify-content:space-around;
  width: 1000px;
  height: 390px;
  margin-top: 200px;

}

.AfficheTournois

{
display: flex;
  margin: auto;
  justify-content:space-around;
  width: 1000px;
  height: 390px;
  margin-top:47px;
}


.Mbappe
{

width: 317px;
height: 245px;
}

.Neymar

{
width: 317px;
height: 245px;
	
}

.hecateImage
{


display: flex;
justify-content: center;
margin-top: 50px;
}

.Hecate
{
width: 317px;
height: 245px;

}

.TitreLogos
{
	display: flex;
	width: 129px;
	height: 29px;
	margin-left: 80px;
	margin-top: 79px;
}

.LogosMockup
{
display: flex;
  margin: auto;
  justify-content:space-around;
  width: 1000px;
  height: 390px;
  margin-top:50px;
}
.SEB
{

width: 317px;
height: 245px;

}

.FOS
{

width: 317px;
height: 245px;

}
