.background
{
display: flex;

height: 500px;
width: 100%;



background: #F5F3E9;
}


body
{
    margin: 0px;
}


a:visited
{
    color: #80CBDE;
}
header 
{
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content:space-around ;

width: 700px;
height: 40px;
margin-top: 0px;
margin-left: 600px;

background: #E7E2CA;
opacity: 0.95;
border-radius: 0px 0px 15px 15px;
}

.fondlien:hover 
{
text-decoration:none;
background-color:white;
height: 40px;
width: 200px;
text-align: center;
border-radius: 0px 0px 15px 15px;
}

.Projet
{

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 34px;
}

.Apropos
{

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 34px;

}



.Contact
{

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 34px;

}

.logoseb
{
z-index: 999;
position: fixed;
left: -1.2%;
right: 89%;
top: 0%;
bottom: 0%;


}
h1
{
    font-family: Didot;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 51px; 

color: #80CBDE;
}

.GrandTitretopimage
{
  display: flex;
  margin: auto;
  justify-content:space-around;
  width: 1000px;
  height: 368px;
  margin-top: 226px;

}

body
{
    margin: 0px;
}

.WelinkLanding
{
width: 363px;
height: 271px;

filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
border-radius: 10px;
object-fit: contain;
}

p
{
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 27px;

color: #011317;
}

h2
{
	font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 33px;

color: #80CBDE;
}
.Sommaire
{

display: flex;
margin: auto;
width: 217px;
height: 132px;
margin-top: 79px;
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 33px;

color: #80CBDE;
}

.introwelink
{
    display: flex;
    width: 1100px;
    height: 61px;
    margin-left:80px;
    margin-top: 70px;
}


.imageprojet
{
display: flex;
justify-content: center;

margin-top: 67px;

}

.ImageProjetWelink
{
width: 747px;
height: 578px;
}




.TitreLaDémarcheUx
{
    display: flex;
    width: 229px;
    height: 30px;
    margin-left: 80px;
    margin-top: 80px;
}


.petittitre
{
    display: flex;
    width: 343px;
    height: 33px;
    margin-left: 80px;
    margin-top: 56px;
}

.petitparagraphe
{
     display: flex;
    width: 1100px;
    height: 80px;
    margin-left: 80px;
}

.petittitre1
{
    display: flex;
    width: 343px;
    height: 33px;
    margin-left: 80px;

}

.petitparagraphe1
{
     display: flex;
    width: 1100px;
    height: 80px;
    margin-left: 80px;
}

.petittitre2
{
    display: flex;
    width: 343px;
    height: 33px;
    margin-left: 80px;

}

.petitparagraphe2
{
     display: flex;
    width: 1100px;
    height: 80px;
    margin-left: 80px;
}

.petittitre3
{
    display: flex;
    width: 343px;
    height: 33px;
    margin-left: 80px;
}

.petitparagraphe3
{
     display: flex;
    width: 1100px;
    height: 80px;
    margin-left: 80px;
}

.petittitre4
{
    display: flex;
    width: 343px;
    height: 33px;
    margin-left: 80px;
}

.petitparagraphe4
{
    display: flex;
    width: 1100px;
    height: 80px;
    margin-left: 80px;
}

.petittitre5
{
    display: flex;
    width: 343px;
    height: 33px;
    margin-left: 80px;
}

.petitparagraphe5
{
    display: flex;
    width: 1100px;
    height: 80px;
    margin-left: 80px;
}

.petittitre6
{
    display: flex;
    width: 343px;
    height: 33px;
    margin-left: 80px;
}

.texteParagrapheThibaut
{
display: flex;
  margin-left: 80px;
  justify-content:space-around;
  width: 1100px;
  height: 114px;
  margin-top: 37px;
}

.PersonaThibautImage
{
width: 140px;
height: 140px;
}



.petittitre7
{
    display: flex;
    width: 343px;
    height: 33px;
    margin-left: 80px;
    margin-top: 46px;
}




.petitparagraphe7

{
    display: flex;
    width: 1100px;
    height: 232px;
    margin-left: 80px;
}


.whim
{
display: flex;
justify-content: center;
margin-top: 67px;

}

.ImageWhimsical
{
width: 747px;
height: 578px;
}

.Créationdudesign
{
    display: flex;
    width: 400px;
    height: 30px;
    margin-left: 80px;
    margin-top: 80px;
}


a[class="couleurlien"]:hover
{
    font-weight: bold;
}


.conclusionwelink
{
    display: flex;
    width: 1100px;
    height: 232px;
    margin-left: 80px;
    margin-top: 40px;
}

.TitreSuiteduprojet
{
    display: flex;
    width: 400px;
    height: 30px;
    margin-left: 80px;
    margin-top: 80px;
}

.Paragraphesuiteprojet
{
    display: flex;
    width: 1100px;
    height: 600px;
    margin-left: 80px;
}


em
{
    color: red;
}
